@charset "utf-8";
.example-title {
	height:70px;
	line-height:70px;
	background:#1c8ede;
	text-align:center;
	font-size:30px;
	color:#fff;
}
.mould {
	border-bottom:#eeeeee 1px solid;
	float:left;
	width:100%;
}
.mould-input {
	width:49%;
	height:720px;
}
.mould-border-right {
	border-right:#eeeeee 1px solid;
}
.mould h4 {
	line-height:30px;
	margin:20px 40px;
	text-align:center;
	font-size:18px;
	background:#DAE6EF;
	color: #666;
}
.mould-content {
	margin:20px 40px;
}
.mould>ul {
	padding:20px;
}
.mould>ul>li {
	list-style:none;
	padding:5px 0;
	clear:both;
}
.mould>ul>ul {
	padding:0;
}
.mould>ul>ul>li {
	padding:0;
	clear:	none;
}
.mould-progress-bar ul li {
	height:60px;
}
.mould ul li:after {
	height: 0px;
    display: block;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    content: "";
}
.mould ul li label {
	width:100px;
	text-align:right;
	padding:0 10px;
	line-height:27px;
	display:inline-block;
	color:#666;
	float:left;
	min-height:27px;
}
.w-66 {
	width:66px;
}
.mg-left-10 {
	margin-left:10px;
}
.red {
	width:100px;
	height:50px;
	background:red;
	float:left;
	clear:both;
	}
.blue {
	width:100px;
	height:50px;
	background:blue;
	float:left;
	margin:10px 0 0 -10px
	}
.dialog-btn {
	padding:0 20px!important;
}
.dialog-btn li{
	float:left;
	margin:0 20px;
	clear:none!important;
}
.table-btn-group {
	margin:20px;
}
.table-btn-group td,.table-btn-group th {
	padding:5px;
}
.table-btn-group th {
	text-align:right;
	font-size:14px;
	width:105px;
	font-weight:normal;
}
.mould-notice li {
	padding:10px 30px!important;
}